.delete-button {
  margin: 2rem;
  height: 2.3rem;
  width: 20rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.delete-button:hover {
  background-color: red;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-in;
}
