.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  height: 10rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 16pt;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2rem;
  height: 2rem;
}

.title {
  margin-left: 10px;
  font-size: 1.3em;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #d0d0d07d;
  transition: 0.2s ease;
}
