<div ng-controller="listUserController" class="container">
  <h1>Lista de Usuários</h1>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users" class="user-row">
        <td class="user">{{ user.id }}</td>
        <td class="user">{{ user.name }}</td>
        <td class="user">{{ user.last_name }}</td>
        <td class="user">{{ user.email }}</td>
        <td class="user">{{ user.phone }}</td>
      </tr>
    </tbody>
  </table>
  <button ng-click="listUsers()" class="list-button">Listar usuários</button>
</div>
